.q-modal-container{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}
.q-modal-item{
    background: #fff;
    border-radius: 5px;
    padding: 24px;
    width: 400px;
}
.q-modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom:24px ;
    font-size: 20px;
}
.q-modal-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom:24px ;

}
.fa-triangle-exclamation{
    font-size: 30px;
    color: orange;
}
.q-modal-footer{
    display: flex;
    justify-content: end;
    align-items: end;
    gap:5px ;
}
.fa-xmark{
    cursor: pointer;
}
.fa-xmark:hover{
    color: gray;
}